:root {
    --base-hue: 140;
    --saturation: 95%;
    --lightness: 50%;
    --rotation: 60;
    color: #222;
    --main-color: hsl(var(--base-hue), var(--saturation), var(--lightness));
    --sec-color: hsl(
        calc(var(--base-hue) + var(--rotation)),
        var(--saturation),
        var(--lightness)
    );
    --ter-color: hsl(
        calc(var(--base-hue) + var(--rotation) * 2),
        var(--saturation),
        var(--lightness)
    );

    --book-width: 200px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    --lh: 1.4rem;
    line-height: var(--lh);
}

body {
    min-height: 100vh;
}

.neumorph, 
input {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(120, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--book-width), 1fr));
    gap: 3rem;
    padding: 3rem;
}

.book {
    background-color: blueviolet;
    padding: 1rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 3/4;
}

.book-nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

/* Revisar vv */

.book-nav > button {
    background-color: blueviolet;
    color: white;
    padding: 1vh;
}

.book-nav > button:hover {
    background-color: blueviolet;
    color: white;
    border: solid 2px gray;
    padding: calc(1vh - 2px);
    padding-left: calc(1vh - 1px);
    padding-right: calc(1vh - 1px);
}

.book-nav > button:active {
    background-color: darkmagenta;
    color: white;
    border: solid 1px;
    padding: 1vh;
}

/* Revisar ^^ */

.book-info {
    min-height: 10ch;
    background-color: rgba(200, 200, 200, 0.6);
    margin: -1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.book-title {
    font-size: 1rem;
    font-weight: bold;
}

/* Dealing with description overflow */
.truncate-overflow {
    --max-lines: 2;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
    position: absolute;
    content: "...";
    inset-block-end: 0; /* "bottom" */
    inset-inline-end: 0; /* "right" */
}
.truncate-overflow::after {
    content: "";
    position: absolute;
    inset-inline-end: 0; /* "right" */
    width: 1rem;
    height: 1rem;
    background: white;
}

.fade {
    cursor: pointer;
    position: relative;
    height: 3.6em; /* exactly three lines */
}
.fade::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 1.2em;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(
                calc(138 * 0.4 + 200 * 0.6),
                calc(43 * 0.4 + 200 * 0.6),
                calc(226 * 0.4 + 200 * 0.6),
                1
            )
            50%
    );
}

.book-pageLen {
    align-self: flex-end;
}

/* Form popup */

#form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-top > #close {
    width: 2rem;
    height: 2rem;
}

#form-top > #close:hover {
    cursor: pointer;
}

#new-book {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    justify-content: end;
}

/* Revisar vv */
#new-book > button {
    height: 2rem;

    transition: all 0.2s linear;
}

input {
    width: 100%;
    margin: 0px auto;
}

label[for="is-read"] {
    width: 15ch;
}

.input-group.checkbox {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#is-read {
    outline-style: none;
    width: 1rem;
    margin: 0%;
    accent-color: var(--main-color);
}

/* Revisar vv */

input.valid {
    color: var(--white);
}

input.invalid {
    color: var(--secondary-color);
}

input.invalid:not(:focus) {
    animation: shake 0.25s ease-in-out 0s 2;
    box-shadow: 0 0 4px var(--secondary-color);
}

input.invalid:focus {
    outline-color: var(--secondary-color);
}

input + p {
    color: var(--secondary-color);
    opacity: 0;
    font-size: 0.75rem;
}

input.invalid + p {
    opacity: 1;
}

.input-group {
    margin: 0.5rem;
    grid-column: auto/span 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (max-width: 600px) {
    #new-book {
        grid-template-columns: repeat(1, 1fr);
        border-style: none;
    }

    .input-group {
        grid-column: auto;
    }

    #new-book > button {
        grid-column: auto;
    }
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}
