:root {
    --base-hue: 140;
    --saturation: 95%;
    --lightness: 50%;
    --rotation: 60;
    color: #222;
    --main-color: hsl(var(--base-hue), var(--saturation), var(--lightness));
    --sec-color: hsl(calc(var(--base-hue) + var(--rotation)),
            var(--saturation),
            var(--lightness));
    --ter-color: hsl(calc(var(--base-hue) + var(--rotation) * 2),
            var(--saturation),
            var(--lightness));

    --book-width: 210px;
}

* {
    font-family: GeneralSans;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: all 0.25s ease;
    border-style: none;
}

html {
    --lh: 1.4rem;
    line-height: var(--lh);
}

body {
    min-height: 100vh;
}

.neumorph,
#form-popup,
input {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--book-width), 1fr));
    gap: 3rem;
    padding: 3rem;
}

.background {
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    margin: -1rem;
    position: absolute;
    left: calc(50% + 1rem);
    bottom: 1rem;
    transform: translateX(-50%);
    background-color: blueviolet;
    background-size: cover;
}

.book {
    background-color: transparent;
    padding: 1rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 3/4;
    overflow: hidden;
    position: relative;
}

.book-nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.book-isRead {
    width: 2.5rem;
}

.book-delete {
    width: 2rem;
}

.book-isRead,
.book-delete {
    background-color: transparent;
    background-repeat: no-repeat;

    -webkit-filter: invert(100%) drop-shadow(-4px -4px 1.5px #222);
    filter: invert(100%) drop-shadow(-4px -4px 1.5px #222);
}

.book-delete::after {
    content: url("./icons/trash-can.svg");
}

.poppy-button:hover {
    cursor: pointer;
}

.poppy-button:active {
    padding: 0.5rem;
}

.popOut-button:hover {
    cursor: pointer;
}

.popOut-button:active {
    background-color: black;
    width: 100% - 2rem;
    margin: 100% + 20rem;
}

.book-isRead.isRead::after {
    content: url("./icons/read.svg");
}

.book-isRead:not(.isRead)::after {
    content: url("./icons/not-read.svg");
}

.book-info {
    min-height: 10ch;
    background-color: rgba(200, 200, 200, 0.6);
    margin: -1rem;
    padding: 0.5rem 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.book-title {
    font-size: 1rem;
    font-weight: bold;
}

.book-description {
    cursor: pointer;
}

.book-pageLen {
    font-size: 75%;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/* Form popup */

#form-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-top>#close {
    background-image: url("./icons/close.svg");
    width: 2rem;
    height: 2rem;
}

#form-top>#close:hover {
    cursor: pointer;
}

#new-book {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    justify-content: end;
}

/* Revisar vv */
#new-book>button {
    height: 2rem;

    transition: all 0.2s linear;
}

input {
    width: 100%;
    margin: 0px auto;
}

label[for="is-read"] {
    width: 15ch;
}

.input-group.checkbox {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#is-read {
    outline-style: none;
    width: 1rem;
    margin: 0%;
    accent-color: var(--main-color);
}

/* Revisar vv */

input.valid {
    color: var(--white);
}

input.invalid {
    color: var(--secondary-color);
}

input.invalid:not(:focus) {
    animation: shake 0.25s ease-in-out 0s 2;
    box-shadow: 0 0 4px var(--secondary-color);
}

input.invalid:focus {
    outline-color: var(--secondary-color);
}

input+p {
    color: var(--secondary-color);
    opacity: 0;
    font-size: 0.75rem;
}

input.invalid+p {
    opacity: 1;
}

.input-group {
    margin: 0.5rem;
    grid-column: auto/span 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.popIn {
    animation: pop 0.5s ease 0s 1 reverse;
}

.popOut {
    animation: pop 0.5s ease 0s 1;
}

@media (max-width: 600px) {
    #new-book {
        grid-template-columns: repeat(1, 1fr);
        border-style: none;
    }

    .input-group {
        grid-column: auto;
    }

    #new-book>button {
        grid-column: auto;
    }
}

@keyframes pop {
    0% {
        transform: scale(100%);
    }

    10% {
        transform: scale(110%);
    }

    60% {
        transform: scale(50%);
    }

    100% {
        transform: scale(0%);
    }

}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}